.cv {

  &__box {
    margin-bottom: 5rem;
  }

  &__title {
    text-align: center;
    margin-bottom: 3rem;

    &--sub {
      text-align: left;
      margin-bottom: 2rem;
      font-size: 2rem;

      @media(max-width: 426px) {
        text-align: center;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    @media(max-width: 426px) {
      flex-direction: column;
    }
  }

  &__date {
    position: relative;
    padding: 0 3rem 0 0;
    font-size: 8rem;
    letter-spacing: 3px;
    color: #b4b4b4;
    font-weight: 900;
    font-family: $header-font;

    @media(max-width: 426px) {
      padding: 0 3rem;
      margin-bottom: 2.5rem;
    }

    &::after {      
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      right: 0;
      width: 3px;
      height: 100%;
      background-color: rgb(128, 128, 128);

      @media(max-width: 426px) {
        top: inherit;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 3px;
      }
    }
  }
  &__descr {
    padding: 0 0 0 3rem;

    & li {
      font-size: 1.6rem;
      font-family: $main-font;

      @media(max-width: 426px) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &__descr-title {
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-family: $main-font;
  }
}