@font-face { 
  font-family: 'Playfair'; 
  src: url('../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf')  format('truetype');
}

@font-face { 
  font-family: 'Main Header'; 
  src: url('../fonts/CormorantGaramond-Light.ttf')  format('truetype');
} 