.footer {
  padding: 50px 0 0 0;
  box-shadow: inset 0rem -8rem 4rem -5rem gray;

  &__title {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__descr {
    font-size: 1.6rem;
    font-family: "Main Header";
    margin-bottom: 3rem;
  }

  &__downside {
    @extend .flex-between;

    @media(max-width: 426px) {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }

    &-box {
      padding: 10px 0;

      @media(max-width: 426px) {
        margin-top: 3.5rem;
      }
    }

    & a {
      @extend .text-decor-none;

      &:hover {
        @extend .text-decor-none;
      }
    }

    & .text {
      @media(max-width: 426px) {
        margin-bottom: 1rem;
      }
    }
  }

  &__socials {
    margin: 0 auto;
    text-align: center;
    font-family: "Playfair", Arial, sans-serif;


    & a:not(:last-child) {
      margin-right: 2rem;
    }

    & svg {
      width: 4rem;
      height: 4rem;
      opacity: .6;
      transition: all .3s;

      &:hover {
        opacity: 1;
      }
    }

    & .footer__email {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  & .or {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }
}   
