//Grid 

.container {
  width: 100%;
  max-width: 1480px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media(max-width: 1280px) {
    max-width: 1000px;
  }
}

.container-fluid {
  width: 100%;
  max-width: 100%;
  padding-right: 2px;
  padding-left: 2px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 50px;
}

.col-md-4,
.col-md-7,
.col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-4 {
  flex: 0 0 33%;
  max-width: 33%;

  @media(max-width: 425px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-md-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;

  @media(max-width: 425px) {
    flex: 1 0 0%;
  }
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}



@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}





