.navigation {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(150%);
    background-color: #fff;
    z-index: 200;
    transition: all .8s ease-in-out; 


    &__close {
        position: absolute;
        top: 5%;
        right: 5%;
        width: 3rem;
        height: 2px;
        background: #000;
        transform: rotate(-45deg);

        &-btn {
            position: absolute;
            top: 5%;
            right: 5%;
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            opacity: 0;
        }
        &::after {
            content: "";
            display: block;
            width: 3rem;
            height: 2px;
            background: #000;
            transform: rotate(89deg);
        }
    }

    &__left {
        position: relative;
        width: 40%;
        height: 100%;
        transition: all .3s;
        transform: scale(1.6);
        opacity: 0;


        &--animated {
            animation: navLeft .5s;
            animation-timing-function: cubic-bezier(.20,.60,.70,.60);
            animation-delay: .7s;
            animation-fill-mode: forwards;
        }

        @media(max-width: 768px) {
            display: none;
        }
    }

    &_video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background: #fff;
    }

    &__right {
        position: relative;
        @extend .centered;
        width: 60%;
        height: 100%;
        background: #fff;

        @media(max-width: 768px) {
           width: 100%;
        }
    }

    &__list {
        list-style: none;
        font-family: $main-font;
        

        &--item {
            position: relative;
            overflow: hidden;
            padding: 1rem 0;
            text-align: center;

            & a {
                display: inline-block;
                color: #000;
                text-decoration: none;
                font-size: 4rem;
                transform: translateY(100%);
            }

            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background: #000;
                transform: translateX(-150%);
                transition: all .3s;
            }

            &:hover::after {
                transform: translateX(0);
            }
        }
    }

    &-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
        z-index: 10;
        transition: all .2s;

        &:hover {
            transform: scale(1.07);
        }

        & svg {
            width: 30px;
        }
    }

    &__socials {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);

        & a {
            margin: 0 .5rem;
            opacity: 0;
        }

        & a svg {
            width: 3rem;
            opacity: .6;
            transition: all .3s;

            &:hover {
                opacity: .9;
            }
        }
    }
}


@keyframes navLeft {
    0% {
        opacity: 0;
        transform:transform(1.6);
    }

    100% {
        opacity: 1;
        transform:scale(1);
    }
}

