$header-font: 'Main Header';
$main-font: 'Main Header';
$footer-bg: rgb(141, 141, 141);



//Class for centering elements with flex tech.
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

//Class for centering elements by vertical line and make space between them.
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//Class for none decoration for link and etc.
.text-decor-none {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::selection {
    background-color: #000; 
    color: #fff;
  }
}

html {
  font-size: 75.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100%;
  min-height: 100vh;
}

section {
  padding: 50px 0;
}

a {
  text-decoration: none;
}

.title {
  font-family: $header-font;

  &__sub {
    font-size: 3rem;
    font-weight: 100;
  }
}

.text {
  font-family: $main-font;
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.opacity-on {
  animation: opacityOn .5s;
  animation-timing-function: linear;
  animation-delay: .85s;
  animation-fill-mode: forwards;
}

.transform-up {
  animation: transformUp .5s;
  animation-timing-function: ease-out;
  animation-delay: .85s;
  animation-fill-mode: forwards;
}

html{
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(41, 41, 41);
    border-radius: 10px;
}
}


@keyframes opacityOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes transformUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.button-container .custom-button-wrapper #video-detach-button.custom-button {
  display: none !important;
}